<div class="product-upsell-item">
  <h2>{{ product.title }}</h2>
  <!-- <img src="{{ product.image | img_url: 'medium' }}" alt="{{ product.title }}"> -->
  <p>{{ product.description }}</p>
  <a href="{{ product.url }}">View Product</a>
</div>
